header {
  background-color: #FFE8D6;
}

.nav--container {
  display: flex;
  justify-content: right;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  padding: 8px;
}

.home--container {
  background: url("./images/homepage--photo.png") no-repeat center center;
  height: 100vh;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home--container p {
  line-height: 24px;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  height: 40px;
  margin: 0;
  padding: 10px 16px;
}

