header {
  background-color: #FFE8D6;
}

.nav--container {
  display: flex;
  justify-content: right;
  color: black;
}

.nav--container li {
  font-weight: 600;
  color: #4D4D4D;
  display: inline;
}

.nav--container ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 8px;
}

.home--container {
  background: url("./images/homepage--photo.png") no-repeat center center;
  height: 100vh;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home--container p {
  line-height: 24px;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  height: 40px;
  margin: 0;
  padding: 10px 16px;
}

.vans--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 40px;
}

@media (max-width: 800px) {
  .vans--container {
    flex-direction: column;
  }
}

.van--container {
  padding-right: 40px;
  padding-bottom: 40px;
}

.van--container img {
  border-radius: 5%;
  max-width: 300px;
}

.van--type {

}

